
h2 {
  color:blue;
  font-style: italic;
  text-align: center;
}
body{
  background-color:gray;
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}
ul {
  line-height: 30px;
}